.nav-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: rgb(32,31,35);
}

.login-signup-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    background-color: rgb(32,31,35);
}

.nav-bar {
    display: flex;
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.nav-bar-items {
    list-style: none;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-right {
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: space-between;
}

.nav-logo {
    height: 30px;
    margin-right: 20px;
}

.login-signup-logo {
    height: 30px;
    margin-left: 190px;
}
