.album-form-container {
  background-color: white;
  max-height: 900px;
  width: 352px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.album-form-photo-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 5px;
}

.album-form-photo-imgs {
  margin-bottom: 10px;
  height: 70px;
  width: 98.6px;
  object-fit: cover;
}

.selected-photo {
  height: 80px;
  width: 80px;
  border: 2px solid red;
}

.album-form-photo-btn:hover {
  cursor: pointer;
}

.select-photos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.create-edit-album-title {
  font-size: 25px;
  margin-top: 5px;
  font-weight: 600;
}

.errors-btn {
  width: 80px;
  margin-bottom: 12px;
  border-width: 0;
  height: 40px;
  background-color: rgba(161, 159, 159, 0.445);
  color:  white;
  font-weight: 550;
  border-radius: 5px;
}
